/*RESET===========================================>>>>>>>>>>>>>>*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  position: relative;
}
/*BASE===========================================>>>>>>>>>>>>>>*/

body {
  font: 400 1rem 'Zen Antique', sans-serif;
  background: var(--body-ini-color);
  line-height: 1.8rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

section {
 margin: 15%
}

html {
  scroll-behavior: smooth;
}

.divider {
  height: 4px;
  background: linear-gradient(
    270deg,
    hsl(var(--hue), 100%, 55%, 1),
    hsl(var(--hua), 100%, 75%, 0.34)
  );
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.divider-invert {
  height: 4px;
  background: linear-gradient(
    270deg,
    hsl(var(--hua), 100%, 55%, 0.34),
    hsl(var(--hue), 100%, 75%, 1)
  );
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*VARIABLES===========================================>>>>>>>>>>>>>>*/
:root {
  /*COLOR*/
  --hue: 262;
  --hua: 194;
  --hub: 0;
  /*HSL COLOR MODE*/
  --one-color: hsl(var(--hue) 100% 28%);
  --two-color: hsl(var(--hue) 100% 55%);
  --neutral-color: hsl(var(--hue) 100% 100%);
  --par-one-color: hsl(var(--hua) 100% 72%);
  --par-two-color: hsl(var(--hua) 100% 60%);
  --text-one-color: hsl(var(--hua) 0% 0%);
  --text-two-color: hsl(var(--hua) 0% 86%);
  --body-ini-color: hsl(var(--hub) 0% 94%);
}

/*BAR NAVEGATION===========================================>>>>>>>>>>>>>>*/
#navigation {
  background: var(--one-color);
  display: flex;
}



#btn-mobile {
  display: none;
  color: var(--par-two-color);
  font: 700 1.2rem 'Zen Antique', sans-serif;
}

#menu {
  display: block;
  position: absolute;
  width: 100%;
  top: 70px;
  right: 0px;
  background: var(--one-color);
  transition: 0.6s;
  z-index: 1000;
  height: 0px;
  visibility: hidden;
  overflow-y: hidden;
}

#nav.actives #menu {
  height: calc(100vh - 70px);
  visibility: visible;
  overflow-y: auto;
}
#btn-mobile {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: 0.5rem;
}

#hamburger {
  display: block;
  border-top: 2px solid;
  width: 20px;
  color: var(--par-one-color);
  margin-top: 1.2rem;
  position: absolute;
  margin-left: 1.6rem;
}

#hamburger::after,
#hamburger::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: var(--par-one-color);
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

#nav.actives #hamburger {
  border-top-color: transparent;
}

#nav.actives #hamburger::before {
  transform: rotate(135deg);
}
#nav.actives #hamburger::after {
  transform: rotate(-135deg);
  top: -7px;
}

#navigation ul {
  text-align: center;
}

#navigation ul li {
  display: inline-flex;
  margin: 1rem;
}

.logo {
  font: 700 1.21rem 'Robot', sans-serif;
  padding: 1rem;
  font-size: 2rem;
  color: var(--neutral-color);

}

.logo span {
  color: var(--par-one-color);
}

.link {
  color: var(--neutral-color);
  font: 700 1.2rem 'Zen Antique', sans-serif;
  padding: 1.2rem;
}

i {
  font-size: 2rem;
  margin: 0.5rem;
  color: var(--par-two-color);
}

/*Efects*/
.link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--two-color);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*ANIMATION===========================================>>>>>>>>>>>>>>*/
.animation {
  text-align: center;
}
/*efects*/
.card1 {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-one-color);
  padding: 1rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--two-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

h1::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#animation .image {
  margin-top: 2rem;
  position: relative;
}

#animation .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--two-color);
  position: absolute;
  top: -2%;
  left: 2%;
  z-index: 0;
}

#animation .image img {
  position: relative;
  width: 100%;
  height: auto;
}

#animation .image img,
#animation .image::before {
  border-radius: 0rem 1rem 1rem 1rem;
}

#animation .animation .programing {
  border-radius: 0rem 1rem 1rem 0rem;
}

#animation .animation h1 {
  background-color: var(--text-one-color);
  color: var(--neutral-color);
  padding: 2rem;
}

#animation .card {
  padding: 1rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--two-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}


#animation .card .button:hover {
  background: var(--par-one-color);
}

/*ABOUT===========================================>>>>>>>>>>>>>>*/
#about .perfil {
  margin-top: 2rem;
  position: relative;
}

#about .perfil::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--two-color);
  position: absolute;
  top: -2%;
  left: 2%;
  z-index: 0;
}

#about .perfil img {
  position: relative;
  width: 100%;
}

#about .perfil img,
#about .perfil::before {
  border-radius: 0rem 1rem 1rem 1rem;
}

#about .perfiltion .programing {
  border-radius: 0rem 1rem 1rem 0rem;
}

.perfil {
  width: 100%;
  height: auto;
}

#about .title-sobre {
  color: var(--par-two-color);
  padding: 2rem;
}

#about .card {
  padding: 1rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--two-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

/*TECH===========================================>>>>>>>>>>>>>>*/

/*swiper*/
.swiper {
  width: auto;
  height: auto;
}
.swiper-wrapper {
  padding-bottom: 3rem;
}

span.swiper-pagination-bullet-active {
  background: var(--two-color);
}

.parallax-bg {
  background-image: url(assets/img/imgProjeto);
  background-repeat: no-repeat;
  width: 47rem;
  height: 20rem;
}

#tech .title {
  color: var(--par-two-color);
  padding: 1rem;
  font: 700 1.5rem 'Zen Antique', sans-serif;
}

#tech .subtitle {
  font: 700 1.5rem 'Zen Antique', sans-serif;
  padding: 1rem;
  color: var(--par-two-color);
}

#tech p {
  font: 400 1rem 'Zen Antique', sans-serif;
}

#tech .imgicons {
  height: 5rem;
}

/*INTEREST===========================================>>>>>>>>>>>>>>*/
#interest .imgicons {
  height: 10rem;
}

#interest .title {
  color: var(--par-two-color);
  padding: 1rem;
  font: 700 1.5rem 'Zen Antique', sans-serif;
}

#interest p {
  font: 400 1rem 'Zen Antique', sans-serif;
  padding-top: 3rem;
}

.cubo {
  background: black;
  padding: 2rem;
}

/*animação*/
[data-anime] {
  opacity: 0;
  transition: 0.5s;
}

[data-anime='left'] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime='rigth'] {
  transform: translate3d(50px, 0, 0);
}

[data-anime='top'] {
  transform: translate3d(0px, -50px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.whatbtn {
  margin-top: 4rem;
  text-align: center;
}

.card .button {
  background-color: var(--two-color);
  color: var(--neutral-color);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 700 1rem 'Zen Antique', sans-serif;
  transition: background 0.3s;
}

/*FOOTER===========================================>>>>>>>>>>>>>>*/
.footer {
  text-align: center;
  color: var(--neutral-color);
  font: 700 1rem 'Zen Antique', sans-serif;
  background: var(--one-color);
  height: 4rem;
}

.logo-footer {
  padding: 1.5rem;
  color: var(--neutral-color);
}

.logo-footer span {
  color: var(--par-one-color);
}

.back-to-top {
  background: var(--par-two-color);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.3rem;
  clip-path: circle();

  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.back-to-top i {
  color: var(--two-color);
}


@media (min-width: 1200px){

  /*ajustando menu para desktop*/
  section {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: -.5rem;
    right: 0px;
    background: var(--one-color);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: visible;
    overflow-y: visible;
    
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    visibility: hidden;
  }
  
  #navigation {
    background: var(--one-color);
    display: flex;
    justify-content: center;
    height: 9rem;
  }

  #navigation ul {
    text-align: center;
    margin-top: 3rem;
  }

  .textjs{
    grid-auto-flow: column;
   position:static
  }

  /*ajuste de conteudo js e img*/
  #animation h1{
    margin-top: 5rem;
  }
  
  #animation image{
    display: flex;
    justify-content: flex-end;
  }

  #animation .image img{
    width: 90%;
  }

  #animation .image::before {
    content: '';
    height: 100%;
    width: 90%;
    background: var(--two-color);
    position: absolute;
    top: -3%;
    left: 7%;
    z-index: 0;
  }

  .sobre{
    grid-auto-flow: column;
  }

  #about .perfil {
    margin-top: 2rem;
    position: relative;
  }

  #about .perfil::before {
    content: '';
    height: 74%;
    width: 100%;
    background: var(--two-color);
    position: absolute;
    top: -2%;
    left: 2%;
    z-index: 0;
  }

  .parallax-bg {
    background-image: url(https://images.unsplash.com/photo-1487058792275-0ad4aaf24ca7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    width: 100rem;
    height: 25rem;
  }

  .swiper-cube{
    width: 40%;
    display: inline-block;
    margin-top: 3rem;
  }


  .footer {
    text-align: center;
    color: var(--neutral-color);
    font: 700 1rem 'Zen Antique', sans-serif;
    background: var(--one-color);
    height: 4.2rem;
  }
  
  .logo-footer {
    padding: 1.5rem;
    color: var(--neutral-color);
  }
  
  .logo-footer span {
    color: var(--par-one-color);
  }

  .divider {
    height: 1px;
    background: linear-gradient(
      270deg,
      hsl(var(--hue), 100%, 55%, 1),
      hsl(var(--hua), 100%, 75%, 0.34)
    );
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .divider-invert {
    height: 1px;
    background: linear-gradient(
      270deg,
      hsl(var(--hua), 100%, 55%, 0.34),
      hsl(var(--hue), 100%, 75%, 1)
    );
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
