@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?op5ml5');
  src:  url('fonts/icomoon.eot?op5ml5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?op5ml5') format('truetype'),
    url('fonts/icomoon.woff?op5ml5') format('woff'),
    url('fonts/icomoon.svg?op5ml5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevrons-up:before {
  content: "\e905";
}
.icon-code:before {
  content: "\e904";
}
.icon-home_house_icon:before {
  content: "\e900";
}
.icon-whatsapp_icon:before {
  content: "\e901";
}
.icon-github_icon:before {
  content: "\e902";
}
.icon-linkedin-square:before {
  content: "\e903";
}
